

.image-container {
	padding: 10px;
}

.image-container img{
	width: 100%;
}

.button--bottom-right {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.button--bottom-left {
	position: absolute;
	left: 20px;
	bottom: 20px;
}

.mdl-button {
	text-align: center;
	margin: 10px 0;
	width: 75%;
}

#content-container {
	width: 100%
}

#content {
	max-width: 800px;
	height: 100vh;
	position: relative;
	margin: 0 auto;
	width: 100%;
	text-align: center
}

body {
	background-color: rgb(255, 235, 59)
}

h1 {
	font-family: "Montserrat";
	font-size: 45px;
	padding-top: 70px;
	text-align: center;
	margin: 0;
}
p {
	padding: 30px;
	font-family: "Montserrat";
	font-size: 15px
}