

.image-container {
	padding: 10px;
}

.image-container img{
	width: 100%;
}

.button--bottom-right {
	position: fixed;
	right: 20px;
	bottom: 20px;
}

.button--bottom-left {
	position: fixed;
	left: 20px;
	bottom: 20px;
}

body {
	background-color: rgb(255, 235, 59)
}

h1 {
	font-family: "Montserrat";
	font-size: 45px;
	margin-top: 70px;
	text-align: center;
}
p {
	padding: 30px;
	font-family: "Montserrat";
	font-size: 15px
}