{% extends "/layout.html" %}
{% block body %}
<!-- 	<div class="image-container">
		<img src="{{url_for('take_picture')}}" alt="No image captured">
	</div> -->

	<object classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921" codebase="http://downloads.videolan.org/pub/videolan/vlc/latest/win32/axvlc.cab" width="800" height="600" id="vlc" events="True">
		<param name="Src" value="http://PI_IP_ADDRESS:8080/" />
 		<param name="ShowDisplay" value="True" />
 		<param name="AutoLoop" value="False" />
 		<param name="AutoPlay" value="True" />
 		<embed id="vlcEmb" type="application/x-google-vlc-plugin" version="VideoLAN.VLCPlugin.2" autoplay="yes" loop="no" width="640" height="480"
 target="http://192.168.0.109:5000/video"></embed>
 	</object>
{% endblock %}